<ion-view title="Edit Profile">
    <ion-content overflow-scroll="true" padding="false" style="background: url(img/background.jpg) no-repeat center;" class="has-header">
        <div class="spacer" style="width: 300px; height: 43px;"></div>
        <div style="text-align:center;">
            <img src="img/Logo.jpg" width="20%" height="auto">
        </div>
        <p align="center">
        <button id="editProfile-button2"style="font-size:-6px;" class="button button-calm button-small icon-right ion-android-folder-open" align="center">Change Profile Picture</button>
        </p>
        <font color="#FFFFFF">
                 <font size="5">Personal Information:</font>
                 <div class="spacer" style="width: 300px; height: 15px;"></div>
        <label class="item item-input">
                <span class="input-label">Organization Name: </span>
                <input type="text" placeholder="Morgridge Center">
        </label>
                 <label class="item item-input">
                 <span class="input-label">Email: </span>
                 <input type="text" placeholder="morgridge@morgridge.com">
         </label>
                 <label class="item item-input">
                 <span class="input-label">Phone Number: </span>
                 <input type="text" placeholder="608-630-0552">
        </label>
        </label>
                 <label class="item item-input">
                 <span class="input-label">Mission Statement: </span>
                 <input type="text" placeholder="People helping people.">
        </label>
        </label>
                 <label class="item item-input">
                 <span class="input-label">Main Contact: </span>
                 <input type="text" placeholder="Mark Bennett">
        </label>
        </label>
                 <label class="item item-input">
                 <span class="input-label">Address: </span>
                 <input type="text" placeholder="Red Gym, Suite 154, 716 Langdon Street, Madison, WI 53706">
        </label>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <p align="center">
        <button id="Commit"style="font-size:-6px;" class="button button-calm button-small " align="center">Commit Changes
        </button>
        </p>                     
    </ion-content>
</ion-view>