<!-- Fixed -->
<ion-view title="My Events">
    <ion-content padding="true"style="background: url(img/background.jpg) no-repeat center;" >

    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

	<ion-list>
	
      <ion-item class="item-icon-right item-avatar item-stable" ui-sref="tabsController.mydetail({id: event.id})" collection-repeat="event in events track by event.id | limitTo:4">
        <img ng-src="{{event.thumb}}">
        <h2 class="positive">{{event.name}}</h2>
        <p>
          <b>{{event.organization}}</b> / District {{event.district}}<br>
          {{event.street}} {{event.number}}, {{event.zip}} {{event.city}}
        </p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="text-center item-stable" ng-if="events && !events.length">No events found :(</ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded()"
      on-infinite="loadNext()">
    </ion-infinite-scroll>
  </ion-content>




	</ion-content>
</ion-view>